<section class="section section--about">
  <section class="section section-about--facts">
    <span class="image"></span>
    <span>
      <ul>
        <li>Name</li>
        <li>Jasmin von Reth</li>
      </ul>
      <ul>
        <li>E-Mail</li>
        <li>jasmin.vonreth@gmail.com</li>
      </ul>
      <ul>
        <li>Birthday</li>
        <li>27 July 1991</li>
      </ul>
    </span>
  </section>
  <section class="section section-about--text">
    <p class="text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Nullam quis risus eget urna mollis ornare vel eu leo.
      Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
      Donec sed odio dui.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Nullam quis risus eget urna mollis ornare vel eu leo.
      Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
      Donec sed odio dui.
    </p>
  </section>
  <section class="section section-about--hobbys">
    <h2>Interest</h2>

    Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
  </section>
</section>
