<section class="section section--skills">
  <span>
    Maecenas faucibus mollis interdum.
    Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
    Donec sed odio dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </span>
  <span>
    Maecenas faucibus mollis interdum.
    Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </span>
</section>
