<header class="header">
  <a href="logo" title="Jasmin von Reth" href="">Jasmin von Reth</a>
  <nav>
    <ul class="nav nav--main flex">
      <li class="nav__item">
        <a href="#" class="nav__link">About</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">My Skills</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Experience/Education</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Contact</a>
      </li>
    </ul>
  </nav>
</header>
