<!DOCTYPE html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">

  {% include head.html %}

  <body>
      <main>
        <header class="header">
          <a href="logo" title="Jasmin von Reth" href=""></a>
          <nav>
            <ul class="nav">
              <li class="nav__item">About</li>
              <li class="nav__item">My Skills</li>
              <li class="nav__item">Experience/Education</li>
              <li class="nav__item">Contact</li>
            </ul>
          </nav>
        </header>

        <section class="section section--welcome">
          <h1 class="title">Welcome!</h1>
        </section>

        <section class="section section--about">
          <section class="section section-about--facts">
            <span class="image"></span>
            <span>
              <ul>
                <li>Name</li>
                <li>Jasmin von Reth</li>
              </ul>
              <ul>
                <li>E-Mail</li>
                <li>jasmin.vonreth@gmail.com</li>
              </ul>
              <ul>
                <li>Birthday</li>
                <li>27 July 1991</li>
              </ul>
            </span>
          </section>
          <section class="section section-about--text">
            <p class="text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Nullam quis risus eget urna mollis ornare vel eu leo.
              Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
              Donec sed odio dui.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Nullam quis risus eget urna mollis ornare vel eu leo.
              Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
              Donec sed odio dui.
            </p>
          </section>
          <section class="section section-about--hobbys">
            <h2>Interest</h2>

            Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
          </section>
        </section>

        <section class="section section--skills">
          <span>
            Maecenas faucibus mollis interdum.
            Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
            Donec sed odio dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </span>
          <span>
            Maecenas faucibus mollis interdum.
            Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </span>
        </section>

        <section class="section section--experiences">
          <span class="timeline"></span>
        </section>

        <section class="contact">
          <form class="form--contact" action="" method="post">
            <label for="name">Your Name</label>
            <input type="text" name="name" value="" id="name">

            <label for="email">Your E-Mail Adress</label>
            <input type="mail" name="email" value="" id="email">

            <textarea name="message" rows="8" cols="40"></textarea>

            <input type="submit" name="name" value="Send Me!">
          </form>

          <span class="social-icons">
            Facebook Instagram Xing
          </span>
        </section>

      </main>

      <footer>
        <p class="signature">
          Bibidi babidi bu!
        </p>
      </footer>
  </body>
</html>
